/ Copyright terms
%footer.copyright-terms
  .container
    .row
      .col-sm-5.col-md-6
        %small © 2016 Archer. All rights reserved.
      .col-sm-7.col-md-6
        %ul.terms-privacy
          %li
            %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} Terms
          %li
            %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} Privacy
          %li
            %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} Cookies
/ Copyright terms end
