/ Copyright terms
%footer.copyright-terms
  .container
    .row
      .col-sm-5.col-md-6
        %p{:data_temp_dwid => "1"}
          %small{:data_temp_dwid => "2"} © 2017 reviewmee.com
        %p{:data_temp_dwid => "3"}
          %small{:data_temp_dwid => "4"} All rights reserved.
      .col-sm-7.col-md-6
        %ul.terms-privacy
          %li
            %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} Terms
          %li
            %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} Privacy
          %li
            %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} Cookies
/ Copyright terms end
