%script{:src => "/js/jquery-2.2.1.min.js"}
%script{:src => "/js/bootstrap.min.js"}
%script{:src => "/js/jquery.magnific-popup.min.js"}
%script{:src => "/js/owl.carousel.min.js"}
%script{:src => "/js/jquery.waypoints.min.js"}
%script{:src => "/js/jquery.animateNumber.min.js"}
%script{:src => "/js/jquery.ajaxchimp.min.js"}
/[if IE 9]
  %script{:src => "/js/placeholders.min.js"}
%script{:src => "/js/main.js"}
%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp"}
%script{:src => "/js/gmap.js"}
%script{:src => "/js/retina.min.js"}
