/ navigation
%nav.navbar.navbar-default{"data-offset-top" => "450", "data-spy" => "affix"}
  .container
    .navbar-header
      %a.navbar-brand{:href => ""}
        %img.logo{:alt => "logo", :src => "img/logo1.svg"}/
        %img.logo-nav{:alt => "logo-nav", :src => "img/logo-nav1.svg"}/
    %ul.nav.navbar-nav.navbar-right
      %li.hidden-xs.hidden-sm
        %a{:href => "#features"} Features
      %li.hidden-xs.hidden-sm
        %a{:href => "#selfemployed"} Self Employed
      %li.hidden-xs.hidden-sm
        %a{:href => "#business"} Business
      %li.hidden-xs.hidden-sm
        %a{:href => "#students"} Students
      %li.hidden-xs.hidden-sm
        %a{:href => "#howitworks"} How it works
      %li.hidden-xs.hidden-sm
        %a{:href => "#join"} Join
      %li.hidden-md.hidden-lg
        %a#toggle
          %i.fa.fa-bars.fa-2x
          %i.fa.fa-times.fa-2x
/ navigation end
/ mobile navigation
#mobile-nav-overlay.mobile-nav-overlay.hidden-md.hidden-lg
  %nav.mobile-nav
    %ul
      %li
        %a{:href => "#features"} Features
      %li
        %a{:href => "#selfemployed"} Self Employed
      %li
        %a{:href => "#business"} Business
      %li
        %a{:href => "#students"} Students
      %li
        %a{:href => "#howitworks"} How it works
      %li
        %a{:href => "#join"} Join
/ mobile navigation end
