/ welcome message
%section.container.welcome-message.text-center
  .row
    .col-md-5
      %h1 Landing page for your product or service
      %h2 Use this template to promote and describe the benefits of your product.
      %ul.benefits-cta-list
        / benefits 1
        %li
          %i.fa.fa-check{"aria-hidden" => "true"}
          Pellentesque varius finibus condimentum
        / benefits 1 end
        / benefits 2
        %li
          %i.fa.fa-check{"aria-hidden" => "true"}
          Quisque molestie laoreet vitae
        / benefits 2 end
        / benefits 3
        %li
          %i.fa.fa-check{"aria-hidden" => "true"}
          Maecenas fringilla purus dapibus
        / benefits 3 end
    .col-md-7
      .embed-responsive.embed-responsive-16by9.text-center
        / youtube
        %iframe.embed-responsive-item{:src => "http://www.youtube.com/embed/ofI0kpdKAIk?rel=0&showinfo=0&controls=0&iv_load_policy=3"}
        / youtube end
        / For vimeo
        / <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/xxxxxxxxxxx?title=0&byline=0&portrait=0&color=ffffff"></iframe>
        / vimeo end
  .hero-sub-form
    .row
      .col-md-12.sub-form
        %h3 Enter your email address below and join the waiting list
        %form#mc-form
          #mc-error
            %i.fa.fa-exclamation-triangle
            Please enter a value
          #mc-success
            %i.fa.fa-envelope
            Awesome! We have sent you a confirmation email
          .input-group
            %i.fa.fa-envelope
            %input#mc-email.form-control.input-lg{:placeholder => "Email Address", :required => "", :type => "email"}/
            %span.input-group-btn
              %button.btn{:type => "submit"} GET STARTED
        %p.form-terms
          By signing up you agree to our
          %a{"data-target" => "#modal-terms", "data-toggle" => "modal", :href => ""} terms
/ welcome message end
