/ welcome message
%section.container.welcome-message.text-center
  .row
    .col-md-5
      %h1
        Reviews, referrals and testimonials,
        %br/
        all under one roof
      %h2 A professional way to pitch your work.
      %ul.benefits-cta-list
        / benefits 1
        %li
          %em.fa.fa-check{"aria-hidden" => "true"}
          Free account for the first 5,000 subscribers
        / benefits 1 end
        / benefits 2
        %li
          %em.fa.fa-check{"aria-hidden" => "true"}
          Links with all your online profiles
        / benefits 2 end
        / benefits 3
        %li
          %em.fa.fa-check{"aria-hidden" => "true"}
          Reviews can be set to private or public
        / benefits 3 end
        / benefits 4
        %li
          %em.fa.fa-check{"aria-hidden" => "true"}
          Convenient and easy to use
        / benefits 4 end
        / benefits 5
        %li
          %em.fa.fa-check{"aria-hidden" => "true"}
          Look the part using a third party provider
        / benefits 5 end
%section#join.hero-sub-form
  .row
    .col-md-12.sub-form
      %h3 First 5,000 subscribers get free unlimited access.
      %p What are you waiting for?
      = form_tag subscribe_path, id:"mc-form", remote: true do
        #mc-error
          %i.fa.fa-exclamation-triangle
          Already subscribed or invalid email
        #mc-success
          %i.fa.fa-envelope
          Awesome! We have sent you a confirmation email
        .input-group
          %i.fa.fa-envelope
          %input#mc-email.form-control.input-lg{:placeholder => "Email address", :required => true, :type => "email", name: 'email'}/
          %span.input-group-btn
            %button.btn{:type => "submit"} Join
/ welcome message end
