/ FAQ
%section#faq.faq.section-spacing
  .container
    %header.section-header.text-center
      %h2 FAQ
      %h3 Common questions and answers
    .row
      .col-md-8
        %ul.row.faq-list
          %li.col-sm-6
            %h4 Vestibulum sapien sapien?
            %p Finibus nunc quis turpis quis leo volutpat id sit amet orci. Etiam nec diam tincidunt, consequat diam suscipit metus.
          %li.col-sm-6
            %h4 Etiam porttitor sollicitudin?
            %p Aliquam feugiat nibh sed interdum pellentesque. Nulla et porttitor erat non commodo pellentesque orci.
          / Use clearfix after every 12 columns
          %li.clearfix.hidden-xs
          %li.col-sm-6
            %h4 Nulla fermentum aliquet?
            %p Curabitur dolor felis, lobortis eu purus in, pretium bibendum purus. Nulla quis posuere mi odio in convallis fringilla.
          %li.col-sm-6
            %h4 Curabitur dolor felis?
            %p Pellentesque vestibulum, mi a viverra maximus, eros lacus rutrum leo, eget cursus sem neque at purus.
      .col-md-4
        .faq-support.text-center
          %h5 CAN'T FIND A SUITABLE ANSWER?
          %p Ask our Support team
          %a.btn.btn-secondary{"data-target" => "#modal-contact-form", "data-toggle" => "modal", :href => ""}
            %i.fa.fa-envelope>
            EMAIL US
          %a.btn.btn-secondary{:href => ""}
            %i.fa.fa-twitter>
            TWEET US
/ FAQ end
