%section#faq.faq.section-spacing
  .container
    %header.section-header.text-center
      %h2 Freakily Asked Questions
      %h3 Get in touch should you need more information.
    .row
      .col-md-8
        %ul.row.faq-list
          %li.col-sm-6
            %h4 Will it always be free to join?
            %p We are limiting the launching promo to the first 5,000 subscriptions.
            %p So hurry up :)
          %li.col-sm-6
            %h4 What's a testimonial?
            %p A testimonial is reference, just much like a review, but for a person. Fact is that people take  decisions based on what other people think.
            %p That's how we rock.
          / Use clearfix after every 12 columns
          %li.clearfix.hidden-xs
          %li.col-sm-6
            %h4 Who can see my testimonials?
            %p We believe in privacy. Reviewmee gives you full flexibility to make your profile public or private.
            %p Each testimonial can be set individually to public or private, so it's all up to you.
          %li.col-sm-6
            %h4 Pricing?
            %p First 5,000 subscribers are entitled to a free account with unlimited testimonials.
            %p Students under 25 as well are on a free account.
            %p Business accounts are at $19 per annum.
      .col-md-4
        .faq-support.text-center
          %h5 Got a scratching itch to get in touch?
          %a.btn.btn-secondary{"data-target" => "#modal-contact-form", "data-toggle" => "modal", :href => ""}
            %i.fa.fa-envelope>
            EMAIL US
          %a{:href => ""}
