/ FAQ
%section#faq.faq.section-spacing
  .container
    %header.section-header.text-center
      %h2 Frequently asked questions
      %h3 Get in touch for more info.
    .row
      .col-md-8
        %ul.row.faq-list
          %li.col-sm-6
            %h4 Will it always be free to join?
            %p We are limiting the launching promo to the first 5,000 subscriptions.
            %p So get in quick!
          %li.col-sm-6
            %h4 What's a review?
            %p A review is a reference or testimonial given in response to your previous work. Up and coming employers or clients make decisions based on how good your review is.
            %p Easy Peasy.
          / Use clearfix after every 12 columns
          %li.clearfix.hidden-xs
          %li.col-sm-6
            %h4 Who can see my reviews?
            %p We believe in privacy. Reviewmee gives you full flexibility to make your profile public or private.
            %p You choose who sees your reviews.
          %li.col-sm-6
            %h4 What does it cost?
            %p First 5,000 subscribers have access to a free account with unlimited reviews.
            %p Students aged 25 years and under also have free and unlimited access to our premium service.
            %p Business accounts are at $19 per annum.
      .col-md-4
        .faq-support.text-center
          %h5 Got a scratching itch to get in touch?
          %a.btn.btn-secondary{"data-target" => "#modal-contact-form", "data-toggle" => "modal", :href => ""}
            %i.fa.fa-envelope>
            EMAIL US
          %a{:href => ""}
  / FAQ end
