/ features
%section#features.features.text-center.section-spacing
  .container
    .row
      .col-md-12
        .row-margin
          %header.section-header
            %h2 Key features of the product
            %h3 Everything you need
          .row
            / features 1
            .col-sm-4
              %img{:alt => "feature-1", :src => "/img/feature-1.svg"}
                %h4 Bootstrap v3
                %p Fusce finibus condimentum purus. Sed sagittis erat sed posuere cursus.
            / features 1 end
            / features 2
            .col-sm-4
              %img{:alt => "feature-2", :src => "/img/feature-2.svg"}
                %h4 HTML 5  CSS3
                %p Proin convallis sodales volutpat. Suspene varius mollis risus arcu.
            / features 2 end
            / features 3
            .col-sm-4
              %img{:alt => "feature-3", :src => "/img/feature-3.svg"}
                %h4 Fully Responsive
                %p Integer sit amet efficitur odio, nec varius vulputate rhoncus justo.
            / features 3 end
          .row
            / features 4
            .col-sm-4
              %img{:alt => "feature-4", :src => "/img/feature-4.svg"}
                %h4 Google Maps
                %p Nullam pellentesque nisl nec tincidunt viverra hendrerit felis mi.
            / features 4 end
            / features 5
            .col-sm-4
              %img{:alt => "feature-5", :src => "/img/feature-5.svg"}
                %h4 Twitter Feed
                %p Fusce finibus condimentum purus. Sed sagittis erat sed posuere cursus.
            / features 5 end
            / features 6
            .col-sm-4
              %img{:alt => "feature-6", :src => "/img/feature-6.svg"}
                %h4 Font Awesome
                %p Proin convallis sodales volutpat. Suspene varius mollis risus arcu.
            / features 6 end
/ features end
