%section#features.features.text-center.section-spacing
  .container
    .row
      .col-md-12
        .row-margin
          %header.section-header
            %h2 Features of reviewmee
            %h3 Make the most of your good work
          .row
            / features 1
            .col-sm-4
              %img{:alt => "feature-1", :src => "img/feature-1.svg"}/
              %h4 It's free & MOBILE
              %p Join for free without restrictions and start collecting relevant reviews at your own ease comfortably across all devices.
            / features 1 end
            / features 2
            .col-sm-4
              %img{:alt => "feature-2", :src => "img/feature-2.svg"}/
              %h4 Super easy to embed
              %p Each testimonial can be embedded to your website with ease.
            / features 2 end
            / features 3
            .col-sm-4
              %img{:alt => "feature-3", :src => "img/feature-3.svg"}/
              %h4 Privacy
              %p Level of privacy, from profile name, down to hiding on and off individual testimonials.
            / features 3 end
          .row
            / features 4
            .col-sm-4
              %img{:alt => "feature-4", :src => "img/feature-4.svg"}/
              %h4 SAFE under one account
              %p No more loose ends between emails, and sms.
            / features 4 end
            / features 5
            .col-sm-4
              %img{:alt => "feature-5", :src => "img/feature-5.svg"}/
              %h4 Business Profiles
              %p Boost your online presence with testimonials. Easily embed to your website
            / features 5 end
            / features 6
            .col-sm-4
              %img{:alt => "feature-6", :src => "img/feature-6.svg"}/
              %h4 Student rates
              %p Under 25 are considered students, so you get to experience a preemium service for free.
            / features 6 end
