/ features
%section#features.features.text-center.section-spacing
  .container
    .row
      .col-md-12
        .row-margin
          %header.section-header
            %h2 Features of reviewmee
            %h3 Make the most of your good work
          .row
            / features 1
            .col-sm-4
              %img{:alt => "feature-1", :src => "img/feature-1.svg"}/
              %h4 It's free & MOBILE
              %p Join for free* without restrictions and begin collecting your reviews comfortably and conveniently across all devices.
              %p
                %em *for the first 5,000 users
            / features 1 end
            / features 2
            .col-sm-4
              %img{:alt => "feature-2", :src => "img/feature-2.svg"}/
              %h4 Super easy to embed
              %p Link reviews to professional websites and other online profiles.
            / features 2 end
            / features 3
            .col-sm-4
              %img{:alt => "feature-3", :src => "img/feature-3.svg"}/
              %h4 Privacy
              %p You choose which reviews are published and which are hidden from public view.
            / features 3 end
          .row
            / features 4
            .col-sm-4
              %img{:alt => "feature-4", :src => "img/feature-4.svg"}/
              %h4 SAFE under one account
              %p Reviews are stored safely ready to use at your convenience.
            / features 4 end
            / features 5
            .col-sm-4
              %img{:alt => "feature-5", :src => "img/feature-5.svg"}/
              %h4 Business Profiles
              %p Boost your online presence and give your website a professional edge.
            / features 5 end
            / features 6
            .col-sm-4
              %img{:alt => "feature-6", :src => "img/feature-6.svg"}/
              %h4 Student rates
              %p Students 25 and under receive our premium service free of charge.
            / features 6 end
/ features end
