/ CTA footer
%section.cta-footer.section-spacing.text-center
  .container
    .row
      .col-md-12
        %h2
          Signup for a 30 days
          %em free
          trial account.
          %a.btn.btn-secondary{:href => new_registration_path(:user)} Get Started
/ CTA footer end
