/ How it works
%section#howitworks.how-it-works.section-spacing
  .container
    %header.section-header.text-center
      %h2 How it works
    .row
      .col-md-11.center-block
        / step 1
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-1", :src => "img/step-1.jpg"}/
          .col-md-6.col-md-pull-6
            .step-number
              %span 1
            %h4 Create an account
            %p > Enter a few simple details
            %p > Business profiles can upload their logos
            %p > Student profiles will be clearly marked
        / step 1 end
        / step 2
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-2", :src => "img/step-2.jpg"}/
          .col-md-6.col-md-pull-6
            .step-number
              %span 2
            %h4 Request for a review
            %p > Your request is styled to make sure you get the best reply
            %p > Friendly reminders are sent if a request is unreplied
            %p > Look the part by using a third party provider
        / step 2 end
        / step 3
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-3", :src => "img/step-3.jpg"}/
          .col-md-6.col-md-pull-6
            .step-number
              %span 3
            %h4 Receive your review
            %p > You choose if the review is published or hidden from your profile
            %p > Link your review to your website and embed in just a few clicks
        / step 3 end
        / step 4
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-1", :src => "img/step-4.jpg"}/
          .col-md-6.col-md-pull-6
            .step-number
              %span 4
            %h4 Build your profile
            %p > Collect and store your reviews overtime
            %p > Use good reviews when pitching for a new job or contract
        / step 4 end
        / step 5
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-1", :src => "img/step-5.jpg"}/
          .col-md-6.col-md-pull-6
            %div{:class => "step-number\""}  
            %h4 It's that simple
            %p
              \> Use your personalised link for future job interests:
              %strong reviewmee.com/yourname
            %p  
        / step 5 end
/ How it works end
