/ How it works
%section.how-it-works.section-spacing
  .container
    %header.section-header.text-center
      %h2 How it works
      %h3 Understanding our easy to use product
    .row
      .col-md-11.center-block
        / step 1
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-1", :src => "img/step-1.svg"}/
          .col-md-6.col-md-pull-6
            .step-number
              %span 1
            %h4 Planning
            %p Duis suscipit, eros vel tincidunt mollis, sapien ligula mollismi, ac hendrerit ante tellus sit amet eros.
        / step 1 end
        / step 2
        .row
          .col-md-6.text-center
            %img{:alt => "step-2", :src => "img/step-2.svg"}/
          .col-md-6
            .step-number
              %span 2
            %h4 Prototyping
            %p Maecenas vel congue velit. Cras odio nunc, pellentesque vitae libero id, dapibus egestas justo.
        / step 2 end
        / step 3
        .row
          .col-md-6.col-md-push-6.text-center
            %img{:alt => "step-3", :src => "img/step-3.svg"}/
          .col-md-6.col-md-pull-6
            .step-number
              %span 3
            %h4 Visual Design
            %p Tiam vel pellentesque sapien. Donec eleifend sagittis lacus. Praesent in quam nec mi malesuada laoreet.
        / step 3 end
        / step 4
        .row
          .col-md-6.text-center
            %img{:alt => "step-4", :src => "img/step-4.svg"}/
          .col-md-6
            .step-number
              %span 4
            %h4 Production
            %p Nulla tincidunt finibus dignissim. In sit amet rutrum eros. Nulla accumsan rutrum nisl vitae, semper nunc.
        / step 4 end
/ How it works end
