/ learn more
.learn-more.section-spacing
  .container
    %section#selfemployed.row
      .col-md-6
        %article
          %h2 Self employed and freelancers
          %p ReviewMee is a convenient way to collect, store and share job reviews with the public.
          %p Pitch your work professionally and easily.
          %p Create your own folio using only reviews you choose to share.
          %p Free and unlimited for the first 5,000 subscribers.
          %a.learn-more-link{:href => "#howitworks"}
            How it works
            %i.fa.fa-angle-right
          %br/
          %a.learn-more-link{:href => "#join"}
            JOIN IN
            %i.fa.fa-angle-right
      .col-md-6
        %aside.text-center
          %figure
            %img{:alt => "JOIN IN", :src => "img/learn-more-11.jpg"}/

    %section#students.row
      .col-md-6.col-md-push-6
        %article
          %h2 Students
          %p 25 and under access a free account.
          %p Getting your foot in the door of a new career can be hard, but not with ReviewMee.
          %p Your student profile allows you an unlimited number of reviews, free of charge.
          %a.learn-more-link{:href => "#howitworks"}
            How it works
            %i.fa.fa-angle-right
          %br/
          %a.learn-more-link{:href => "#join"}
            JOIN IN
            %i.fa.fa-angle-right
      .col-md-6.col-md-pull-6
        %aside.text-center
          %figure
            %img{:alt => "JOIN IN", :src => "img/learn-more-21.jpg"}/

    %section#business.row
      .col-md-6
        %article
          %h2 Business
          %p Increase your online presence by linking ReviewMee to your business website.
          %p Using ReviewMee as your third party provider can help boost your corporate edge.
          %p Link reviews with all your business profiles.
          %p A safe and permanent space to keep your reviews.
          %p Fee of only $19 per annum
          %a.learn-more-link{:href => "#howitworks"}
            How it works
            %i.fa.fa-angle-right
          %br/
          %a.learn-more-link{:href => "#join"}
            JOIN IN
            %i.fa.fa-angle-right
      .col-md-6
        %aside.text-center
          %figure
            %img{:alt => "JOIN IN", :src => "img/learn-more-31.jpg"}/
/ learn more end
