/ Pricing
%section#pricing.pricing.section-spacing.text-center
  .container
    %header.section-header
      %h2 Plans & Pricing
      %h3 30 day money back guarantee. No credit card required!
    .row
      / pricing tabel 1
      .col-sm-4
        .pricing-table-container
          .plan-type
            %h4 Basic
          .plan-price
            %h5 Free
          .plan-cta
            %span Try first, upgrade later
            %a.btn{:href => ""} TRY FOR FREE
          .plan-details
            %ul
              %li
                %strong 1
                user
              %li
                %strong 5000
                Views per/m
              %li
                %strong 12
                Projects
              %li
                %strong 5
                agent per account
                %i.fa.fa-exclamation-circle{"data-toggle" => "tooltip", :title => "Some tooltip text"}
      / pricing tabel 1 end
      / pricing tabel 2
      .col-sm-4
        .pricing-table-container.plan-popular
          .plan-type
            %h4 Premium
          .plan-price
            %h5
              %span.plan-currency> $
              30
              %span.plan-duration P/M
          .plan-cta
            %span Limited time 10% off
            %a.btn{:href => ""} GET STARTED
          .plan-details
            %ul
              %li
                %strong 5
                user
              %li
                %strong 10000
                Views per/m
              %li
                %strong 30
                Projects
              %li
                %strong 15
                agent per account
              %li API access
              %li
                Free Storage
                %i.fa.fa-exclamation-circle{"data-toggle" => "tooltip", :title => "Some tooltip text"}
              %li Analytics
      / pricing tabel 2 end
      / pricing tabel 3
      .col-sm-4
        .pricing-table-container
          .plan-type
            %h4 GOLD
          .plan-price
            %h5
              %span.plan-currency> $
              60
              %span.plan-duration P/M
          .plan-cta
            %span Limited time 10% off
            %a.btn{:href => ""} GET STARTED
          .plan-details
            %ul
              %li
                %strong Unlimited
                user
              %li
                %strong Unlimited
                Views per/m
              %li
                %strong Unlimited
                Projects
              %li
                %strong 50
                agent per account
              %li API access
              %li Free Storage
              %li
                Analytics
                %i.fa.fa-exclamation-circle{"data-toggle" => "tooltip", :title => "Some tooltip text"}
              %li Addon security
              %li
                Activity logs
                %i.fa.fa-exclamation-circle{"data-toggle" => "tooltip", :title => "Some tooltip text"}
              %li Priority support
      / pricing tabel 3 end
/ Pricing end
