#reviews.user-reviews.section-spacing.text-center
  .container
    .row
      .col-md-9.center-block
        .reviews-slider.owl-carousel.owl-theme
          .item
            / review 1
            %blockquote
              %p
                “It's amazing what 40 words of appraisal
                %br/
                can do to your pitch.”
              %footer
                %cite
                  Andy Campbell,
                  %i Self employed
              %p
              %figure
                %img.img-circle{:alt => "user", :src => "img/user-review-3.png"}/
            / review 1 end
          .item
            / review 2
            %blockquote
              %p
                “The best advertising is word-of-mouth,
                %br>/
                never lose sight of that fat fact”
              %footer
                %cite Anom
                %p
            / review 2 end
          .item
            / review 3
            %blockquote
              %p
                “It’s a basic notion of social psychology
                %br/
                that our networks and peers influence many
                %br/
                of our decisions and behaviors.
            / review 3 end
