/ User reviews
#reviews.user-reviews.section-spacing.text-center
  .container
    .row
      .col-md-9.center-block
        .reviews-slider.owl-carousel.owl-theme
          .item
            / review 1
            %blockquote
              %figure
                %img.img-circle{:alt => "user", :src => "/img/user-review-1.jpg"}/
              %p “Vivamus fringilla sem varius leo tempor, sed posuere nulla dapibus. Integer dapibus tortor quis libero ullamcorper rutrum neque ullamcorper convallis metus.”
              %footer
                %cite
                  Willie Meyer,
                  %i Manager Facelook inc
            / review 1 end
          .item
            / review 2
            %blockquote
              %figure
                %img.img-circle{:alt => "user", :src => "/img/user-review-2.jpg"}/
              %p “Nullam pellentesque nisl nec velit tincidunt viverra. Ut ut felis mi. Mauris tristique ante non feugiat fermentum morbi nec ultricies est accumsan ligula.”
              %footer
                %cite
                  Jessica Campbell,
                  %i Blogger
            / review 2 end
          .item
            / review 3
            %blockquote
              %figure
                %img.img-circle{:alt => "user", :src => "/img/user-review-3.jpg"}/
              %p “Donec ullamcorper imperdiet velit, et tincidunt lectus bibendum ut. Fusce ut nunc tortor. Donec vel tempus nisl, sed porta efficitur eu justo leo sollicitudin gravida.”
              %footer
                %cite
                  Hannah Romero,
                  %i Designer at xyz
            / review 3 end
/ User reviews end
