/ About us
%section#team.about-us.section-spacing
  .container
    %header.section-header.text-center
      %h2 The team
      %h3 Creative team behind this product
    .row.text-center.team-details
      .col-md-11.center-block
        .team-slider.owl-carousel.owl-theme
          / Team 1
          .item
            %img.img-circle{:alt => "team member", :src => "img/team-1.jpg"}/
            %h5
              Hi, i’m
              %span.bold Nicole Ortega
              %span.team-position Founder
            %ul.social
              %li
                %a.a-facebook{:href => ""}
                  %i.fa.fa-facebook
              %li
                %a.a-twitter{:href => ""}
                  %i.fa.fa-twitter
              %li
                %a.a-google-plus{:href => ""}
                  %i.fa.fa-google-plus
            %p Fusce laoreet lectus tellus, aliquam maximus magna auctor suscipit. Praesent sed lacinia lectus. Ut laoreet finibus odio quis laoreet.
          / Team 1 end
          / Team 2
          .item
            %img.img-circle{:alt => "team member", :src => "img/team-2.jpg"}/
            %h5
              Hi, i’m
              %span.bold Diana Oliver
              %span.team-position Co-founder
            %ul.social
              %li
                %a.a-facebook{:href => ""}
                  %i.fa.fa-facebook
              %li
                %a.a-twitter{:href => ""}
                  %i.fa.fa-twitter
              %li
                %a.a-google-plus{:href => ""}
                  %i.fa.fa-google-plus
            %p Morbi condimentum ut turpis lobortis aliquet. Aliquam eget diam lorem. Aliquam erat volutpat. Pellentesque vulputate placerat pharetra.
          / Team 2 end
          / Team 3
          .item
            %img.img-circle{:alt => "team member", :src => "img/team-3.jpg"}/
            %h5
              Hi, i’m
              %span.bold Alan Garrett
              %span.team-position CEO
            %ul.social
              %li
                %a.a-facebook{:href => ""}
                  %i.fa.fa-facebook
              %li
                %a.a-twitter{:href => ""}
                  %i.fa.fa-twitter
              %li
                %a.a-google-plus{:href => ""}
                  %i.fa.fa-google-plus
            %p Aliquam maximus magna fusce laoreet lectus tellus, auctor suscipit. Praesent sed lacinia lectus. Ut laoreet finibus odio quis laoreet.
          / Team 3 end
          / Team 4
          .item
            %img.img-circle{:alt => "team member", :src => "img/team-4.jpg"}/
            %h5
              Hi, i’m
              %span.bold Brenda Payne
              %span.team-position Manager
            %ul.social
              %li
                %a.a-facebook{:href => ""}
                  %i.fa.fa-facebook
              %li
                %a.a-twitter{:href => ""}
                  %i.fa.fa-twitter
              %li
                %a.a-google-plus{:href => ""}
                  %i.fa.fa-google-plus
            %p Onec mattis ac dui eget fringilla. Sed vitae nisl sit amet dui dapibus lacinia. Etiam facilisis, nunc eu fringilla lacus augue felis luctus libero.
          / Team 4 end
          / Team 5
          .item
            %img.img-circle{:alt => "team member", :src => "img/team-5.jpg"}/
            %h5
              Hi, i’m
              %span.bold Ethan Smith
              %span.team-position Designer
            %ul.social
              %li
                %a.a-facebook{:href => ""}
                  %i.fa.fa-facebook
              %li
                %a.a-twitter{:href => ""}
                  %i.fa.fa-twitter
              %li
                %a.a-google-plus{:href => ""}
                  %i.fa.fa-google-plus
            %p Vivamus sed lectus placerat, tristique faucibus , pellentesque odio. Duis ut luctus eros pellentesque a urna et, feugiat blandit quam.
          / Team 5 end
/ About us end
